<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audio Recorder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesAudio.css') }}">
</head>
<body>
    <h1>Audio Recorder</h1>
    <div class="controls">
        <button id="startRecord">Start Recording</button>
        <button id="stopRecord" disabled>Stop Recording</button>
        <button id="uploadAudio" disabled>Upload Recorded Audio</button>
        <input type="file" id="fileInput" accept="audio/*">
        <button id="uploadFileAudio" disabled>Upload Selected Audio</button>
    </div>
    <audio id="audioPlayback" controls></audio>

    <script src="{{ url_for('static', filename='scriptAudio.js') }}"></script>
</body>
</html>
